<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="style/login.css">
</head>
<body>
    <div class="container">
    <form action="/signup" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required maxlength="20" autocomplete="off" autofocus><br><br>
         <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required maxlength="30" autocomplete="off"><br><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required autocomplete="off" maxlength="20" ><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required maxlength="8"><br><br>
        
        <label for="security_question">Security Question:</label><br>
        <select id="security_question" name="security_question" required>
            <option value="" disabled selected>Select a  question for password reset</option>
            <option value="What is your Nick Name?">What is your Nick Name?</option>
            <option value="What city were you born in?">What city were you born in?</option>
            <option value="What is the name of your first pet?">What is the name of your first pet?</option>
            <option value="What is your Vehicle Number?">What is your Vehicle Number?</option>
        </select>
        <br><br>
        <label for="security_answer" >Security Answer:</label><br>
        <input type="password" id="security_answer" name="security_answer" required autocomplete="off" maxlength="20" placeholder="For Password Reset"><br><br>
        <button type="submit">Sign Up</button>&nbsp;
        <button type="reset">Clear</button>
    </form>
    <br>
    </div>
    <div class="container">
    <div class="container1"><br>
        <a href="/recover" style="text-decoration: none;">Forgot Username or Password ?</a><br><br>
        <a href="/admin" style="text-decoration: none;">Admin login</a>
</div></div></body>
</html>
